uorb start
muorb start
logger start -t -b 200
# Wait 1s before setting parameters for muorb to initialize
sleep 1
param set MAV_BROADCAST 1
dataman start
navigator start

# Ground-Control mavlink instance
mavlink start -x -u 14556 -o 14550 -r 1000000
sleep 1
mavlink stream -u 14556 -s HIGHRES_IMU -r 50
mavlink stream -u 14556 -s ATTITUDE -r 50
mavlink stream -u 14556 -s RC_CHANNELS -r 20
sleep 1

# Optflow mavlink instance
mavlink start -x -u 14557 -o 14558 -r 1000000
sleep 1
mavlink stream -u 14557 -s HIGHRES_IMU -r 50
mavlink stream -u 14557 -s ATTITUDE -r 50
mavlink stream -u 14557 -s RC_CHANNELS -r 20

mavlink boot_complete
