uorb start
muorb start
logger start -t -b 200
hc1_enable_motor start
# Wait 1s before setting parameters for muorb to initialize
sleep 1
param set MAV_BROADCAST 1
dataman start
navigator start

# Ground-Control mavlink instance
mavlink start -x -u 14556 -o 14550 -r 1000000
#sleep 1
mavlink stream -u 14556 -s CAMERA_IMAGE_CAPTURED -r 0
mavlink stream -u 14556 -s DEBUG -r 0
mavlink stream -u 14556 -s DEBUG_VECT -r 0
mavlink stream -u 14556 -s GLOBAL_POSITION_INT -r 0
mavlink stream -u 14556 -s POSITION_TARGET_GLOBAL_INT -r 0
mavlink stream -u 14556 -s SERVO_OUTPUT_RAW_0 -r 0
mavlink stream -u 14556 -s WIND_COV -r 0

sleep 1

# Optflow mavlink instance
mavlink start -x -u 14557 -o 14558 -r 1000000
sleep 1
mavlink stream -u 14557 -s HIGHRES_IMU -r 250
mavlink stream -u 14557 -s ADSB_VEHICLE -r 0
mavlink stream -u 14557 -s ALTITUDE -r 0
mavlink stream -u 14557 -s ATTITUDE -r 0
mavlink stream -u 14557 -s ATTITUDE_TARGET -r 0
mavlink stream -u 14557 -s CAMERA_IMAGE_CAPTURED -r 0
mavlink stream -u 14557 -s COLLISION -r 0
mavlink stream -u 14557 -s DEBUG -r 0
mavlink stream -u 14557 -s DEBUG_VECT -r 0
mavlink stream -u 14557 -s ESTIMATOR_STATUS -r 0
mavlink stream -u 14557 -s DISTANCE_SENSOR -r 0
mavlink stream -u 14557 -s EXTENDED_SYS_STATE -r 0
mavlink stream -u 14557 -s GLOBAL_POSITION_INT -r 0
mavlink stream -u 14557 -s GPS_RAW_INT -r 0
mavlink stream -u 14557 -s HOME_POSITION -r 0
mavlink stream -u 14557 -s LOCAL_POSITION_NED -r 0
mavlink stream -u 14557 -s NAMED_VALUE_FLOAT -r 0
mavlink stream -u 14557 -s NAV_CONTROLLER_OUTPUT -r 0
mavlink stream -u 14557 -s OPTICAL_FLOW_RAD -r 0
mavlink stream -u 14557 -s PING -r 0
mavlink stream -u 14557 -s POSITION_TARGET_LOCAL_NED -r 0
mavlink stream -u 14557 -s POSITION_TARGET_GLOBAL_INT -r 0
mavlink stream -u 14557 -s RC_CHANNELS -r 0
mavlink stream -u 14557 -s SERVO_OUTPUT_RAW_0 -r 0
mavlink stream -u 14557 -s SYS_STATUS -r 0
mavlink stream -u 14557 -s VFR_HUD -r 0
mavlink stream -u 14557 -s VISION_POSITION_ESTIMATE -r 0
mavlink stream -u 14557 -s WIND_COV -r 0

mavlink boot_complete


