uorb start
qshell start
param set SYS_AUTOSTART 4040
param set SYS_MC_EST_GROUP 2
sleep 1
param set MAV_TYPE 2
param set MC_PITCH_P 4
param set MC_ROLL_P 4
param set MC_ROLLRATE_D 0.001
param set MC_ROLLRATE_P 0.1
sleep 1
df_ms5611_wrapper start
df_mpu9250_wrapper start
sleep 1
sensors start
commander start
ekf2 start
land_detector start multicopter
mc_pos_control start
mc_att_control start
spektrum_rc start -d /dev/tty-1
sleep 1
irmck099 start
stm32f401 start
