uorb start
qshell start
param set SYS_AUTOSTART 4040
param set SYS_MC_EST_GROUP 2
sleep 1
param set MAV_TYPE 2
sleep 1
df_ms5611_wrapper start
df_mpu9250_wrapper start
sleep 1
sensors start
commander start
ekf2 start
land_detector start multicopter
mc_pos_control start
mc_att_control start
spektrum_rc start -d /dev/tty-1
sleep 1
irmck099 start
stm32f401 start
